{% extends 'main_blog/base.html' %}

{% block content%}
{% if user.is_authenticated %}
    {% if user.is_superuser %}
        <h1>Add post</h1>
        <br/><br/>

            <form method="POST">
                <div class="mb-3">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button class="btn btn-secondary">Post</button>
                </div>
            </form>
        {% else %}
        <div class="alert alert-warning" role="alert">
          Please login again to add posts
        </div>
    {% else %}
        <div class="alert alert-warning" role="alert">
          You don't have access to configure categories
        </div>
    {% endif%}
{% endif%}
{% endblock %}