{% extends 'main_blog/base.html' %}

{% block content%}
{% if user.is_authenticated %}
<h1>Add post</h1>
<br/><br/>

    <form method="POST">
        <div class="mb-3">
            {% csrf_token %}
            {{form.media}}
            {{form.as_p}}
            <button class="btn btn-secondary">Post</button>
        </div>
        <script>
<!--            Adding this js code to send back the user already logged in to our backend -->
<!--            so identify automatically the user while adding a post-->
            var name = "{{ user.id }}";
<!--            the element with id author is the dropdown already hidden in it form file-->
            document.getElementById("author").value = name;
        </script>
    </form>
{% else %}
<div class="alert alert-warning" role="alert">
  Please login again to add posts
</div>
{% endif%}
{% endblock %}