{% extends 'main_blog/base.html' %}

{% block title %}
{{ object.title }}
{% endblock %}

{% block content%}
<h3>{{ object.title }}</h3>

<h2></h2>
    <small>{{ object.category }} by: {{ object.author.first_name }} {{ object.author.last_name }} </small>

    {% if user.is_authenticated %}
        {% if user.id == object.author.id %}
            - <small><a href="{% url 'update_post' object.pk %}">[Edit]</a></small>- <small><a href="{% url 'delete_post' object.pk %}">[Delete]</a></small><br/>
        {% endif %}
    {% endif %}
    <hr>
    {% if object.header_image %}
    <img src="{{ object.header_image.url }}" style="height:200px; width:200px">
    {% endif %}
    {{ object.body|safe }}
    </br></br>
        {{object.posted_at}}
    </br>
    <a href="{% url 'home'%}" class="btn btn-primary">Back</a>
    </br></br>
    <hr>
    </br>
    <form action="{% url 'like_post' object.pk %}" method="POST">
        {% csrf_token %}
            {% if user.is_authenticated %}
                {% if liked %}
                <button type="submit", name="post_id", value="{{object.id}}", class="btn btn-danger btn-sm">
                    Unlike
                </button>
                {% else %}
                <button type="submit", name="post_id", value="{{object.id}}", class="btn btn-primary btn-sm">
                    Like
                </button>
                {% endif %}
            {% else %}
                <small> <a href="{% url 'login'%}">Login to react with the post</a></small>
            {% endif %}
                - {{ total_likes }} likes
    </form>
{% endblock %}